<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserInformationController</servlet-name>
        <servlet-class>com.storybulletin.controller.UserInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyticsController</servlet-name>
        <servlet-class>com.storybulletin.controller.AnalyticsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>com.storybulletin.controller.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.storybulletin.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.storybulletin.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>com.storybulletin.controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>com.storybulletin.controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailNewsController</servlet-name>
        <servlet-class>com.storybulletin.controller.DetailNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalizationController</servlet-name>
        <servlet-class>com.storybulletin.controller.PersonalizationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefaultPageController</servlet-name>
        <servlet-class>com.storybulletin.controller.DefaultPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfController</servlet-name>
        <servlet-class>com.storybulletin.controller.PdfController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>com.storybulletin.controller.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInformationController</servlet-name>
        <url-pattern>/UserInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyticsController</servlet-name>
        <url-pattern>/AnalyticsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/NewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailNewsController</servlet-name>
        <url-pattern>/DetailNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalizationController</servlet-name>
        <url-pattern>/PersonalizationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DefaultPageController</servlet-name>
        <url-pattern>/DefaultPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfController</servlet-name>
        <url-pattern>/PdfController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>NewsController</welcome-file>
    </welcome-file-list>
</web-app>
